body {
  --text-color: #222;
  --bkg-color: #fff;
  background: var(--bkg-color);
  position: relative;
  
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  color: var(--text-color);
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}

footer{
	margin-top:6em;
}
