body {
  --text-color: #222;
  --bkg-color: #fff;
  background: var(--bkg-color);
  
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  color: var(--text-color);
}

.clear { clear: both; height: 15%; }

.footer {

    height:100px; // Replace with the height your footer should be
    width: 100%; // Don't change
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
	right:0pt;

}   

.footer_contents {

    height:100px; // Replace with the height your footer should be
    width: 1000px; // Visible width of footer
    margin:auto;

}